{% extends 'engineer_base.html' %}
{% load static %}

{% block title %}Voting Guidance{% endblock %}

{% block content %}
<div class="container mt-5">
  {% if messages %}
  <div style="margin-bottom: 20px;">
      {% for message in messages %}
          <div class="alert 
              {% if message.tags == 'success' %}alert-success
              {% elif message.tags == 'error' %}alert-danger
              {% else %}alert-info{% endif %}"
              style="padding: 10px; border-radius: 5px; margin-bottom: 10px; border: 1px solid #ccc;">
              {{ message }}
      </div>
      {% endfor %}
  </div>
{% endif %}

  {% with vote_url='vote-page' %}
    {% include 'includes/voting_guidelines.html' %}
  {% endwith %}

</div>
{% endblock %}
