{% extends 'sm_base.html' %}

{% block title %}View Teams{% endblock %}

{% block content %}
  <h2>View Teams</h2>
  <p>View teams here</p>
  <!-- User List -->
<div class="mt-4">
    <h3>Teams List</h3>
    <div class="row" id="userList">
      {% for team in teams %}
      <div class="col-md-4 mb-4">
        <a href="#" class="card shadow text-decoration-none text-dark">
          <div class="card-body">
            <h5 class="card-title">Team Name: {{ team.name }}</h5>
            <p class="card-text">
                Department:
                {% if team.department %}
                {{ team.department.name }}
                {% else %}
                No Department
                {% endif %}
            </p>
            <p class="card-text">
              Created At:
              {{ team.created_at }}
            </p>
          </div>
        </a>
      </div>
      {% empty %}
        <p class="text-muted">No teams found.</p>
      {% endfor %}
    </div>
    {% if error %}
      <script>alert("{{ error }}");</script>
    {% elif success %}
      <script>alert("{{ success }}");</script>
    {% endif %}
  </div>
  {% endblock %}